.moveaside {
    font-size: 20px;
    margin-left: 10px;
    transition: all 2s;

}


.drpdown1 i{
    margin-right: 8px;
    color: black;
}


.drpdown1:hover {
    color: #000000a1!important;
    background-color:#F0711499 !important;
  }